<div class="mt-3 p-4">

    <label class="h6" for="categoria">Selecciona la categoría para filtrar los post:</label>
    <select class="form-select" [(ngModel)]="categoriaSeleccionada"
        (change)="filtrarPorCategoria(categoriaSeleccionada)">
        <option value="todas">Todas</option>
        <option value="naturaleza">Naturaleza</option>
        <option value="viajes">Viajes</option>
        <option value="rutas">Rutas</option>
        <option value="otros">Otros</option>
    </select>

</div>




<div class="container">

    <div class="row row-cols-1 row-cols-md-2 gap-3">

        <div class="blog-entry" *ngFor="let post of arrPosts">

            <img [src]="post.imagen" alt="...">
            <div>
                <h5>{{post.titulo}}</h5>
                <p>{{post.autor}} | {{post.fecha}}</p>
                <p>{{post.categoria}}</p>
                <p>{{post.texto}}</p>
            </div>

        </div>

    </div>

</div>